.crewMeet {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 166.5px;
  top: 212px;
  display: flex;
  flex-direction: row;
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  list-style: none;
}

.crewMeet::before {
  content: "02";
  font-weight: bold;
  padding-right: 10px;
  color: grey;
}

.dots {
  left: 250px;
  top: 750px;
  position: absolute;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.dots a {
  background-color: grey;
  margin: 10px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.dots a:hover {
  background-color: white;
}

.dots .dotActive {
  background-color: white;
}
