
.destinationCardName {
  position: absolute;
  height: 115px;
  top: 8vh;
  left: 0;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 6vw;
  line-height: 115px;
  color: #ffffff;
  width: fit-content;
}

.destinationCardText {
  position: absolute;
  top: 13rem;
  left: 0;
  height: fit-content;
  width: 400px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 32px;
  color: #d0d6f9;
  text-align: justify;
}

.destinationCardLine {
  background-color: grey;
  width: 400px;
  height: 1px;
  left: 0;
  position: absolute;
  top: 22rem;
}

.destinationCardDist {
  width: 200px;
  height: fit-content;
  position: absolute;
  top: 22rem;
  padding-top: 30px;
  left: 0;
}

.destinationCardTime {
  width: 200px;
  height: fit-content;
  position: absolute;
  top: 22rem;
  left: 200px;
  padding-top: 30px;
}

.destinationCardTime h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #d0d6f9;
  padding-bottom: 20px;
}

.destinationCardDist h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #d0d6f9;
  padding-bottom: 20px;
}

.destinationCardDist p {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}

.destinationCardTime p {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}

.destinationCardImage {
  position: absolute;
  height: max(180px,25vw);
  width: max(180px,25vw);
  right: 43vw;
  top: 150%;
}

@media  screen and (max-width:1180px) {
  
  .destinationCardImage {
    top: -245px;
    left: 45%;
  }
  .destinationCardText {
    width: 68vw;
  }
  .destinationCardName {
    top:12vh;
    width: 68vw;
    display: flex;
    justify-content: center;
  }
  .destinationCardText {
    top: 15rem;
    text-align: center;
  }
  .destinationCardLine {
    width: 68vw;
  }
}
@media screen and (max-width:990px) {
  .destinationCardImage {
    top: -210px;
    transition: 0.3s ease;
  }
}

@media  screen and (max-width:660px) {
  .destinationCardImage {
    top: -150px;
  }
  .destinationCardText {
    margin-top: -35px;
  }
  .destinationCardName {
    margin-top: -20px;
  }
}
