* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.HomeText {
  display: grid;
  justify-items: center;
  grid-column: 1;
  height: max-content;
  z-index: 1;
  width: 100%;
  margin-left: 30%;

}

.HomeText h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
  font-size: min(3vw, 1.75rem);
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #d0d6f9;
}

.HomeText h1 {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9.275rem;
  color: #ffffff;
  width: 100%;
}

.HomeText p {
  font-family: "Barlow", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.250rem;
  line-height: 2rem;
  color: #d0d6f9;
  width: 75%;
  margin-right: 25%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.HomeButton {
  height: 250px;
  width: 250px;
  grid-column: 2;
  z-index: 2;
}

.HomeButton p {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 37px;
  letter-spacing: 2px;
  color: #0b0d17;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.HomeButton p:hover {
  background-color: rgb(230, 230, 230);
  transition: 0.4s ease-in-out;

}

@media screen and (max-width:900px) {
  .Home {
    grid-template-columns: 1fr;
  }
  .HomeText {
    margin-top: 25%;
    margin-left: 0;
  }
  .HomeText p {
    margin: 0;
  }
  .HomeButton {
    margin-bottom: 25%;
    height: 200px;
    width: 200px;
  }
  .HomeText, .HomeButton {
    grid-column: 1;
  }
  .HomeText h1 {
    font-size: 6rem;
  }
  .HomeText p {
    width: 85%;
  }
  .HomeText h1,h5,p {
    text-align: center;
  }
}