

.crewCard {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  height: 60%;
  width: 100%;
}
.crewName,
.crewText,
.crewTitle {
  width: fit-content;
  height: fit-content;
  grid-column: 1;
  margin-left: 14%;
}



.crewTitle h4 {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: normal;
  font-size: max(2.2vw, 27px);
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
 padding-top: 30px;
  
}
.crewName h3 {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: normal;
  font-size: max(3.5vw, 32px);
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
}
.crewName {
  grid-column: 1;
  grid-row: 2/3;
  align-self: start;
}

.crewText {  font-family: "Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  /* width: 75%; */
}
.crewImage {
  grid-column: 2/3;
  align-self: end;
  justify-self: center;
  width: 32vw;
  height: 32vw;
}

@media screen and (max-width:990px) {
  .crewCard{
    grid-template-columns: 1fr;
    grid-template-rows: 65px 65px 1fr 1fr;
    height: 70%;
    width: 100%;
  }
  .crewImage{
    grid-column: 1;
  }
  
.crewText 
 {
margin: 0;
width: 65%;
justify-self: center;
text-align: center;
}
.crewTitle {
  align-self: end;
  margin: 0;
  justify-self: center;
  
}
.crewName ,
.crewTitle h4{

  margin: 0;
  justify-self: center;
}
}