* {
  text-decoration: none;
  overflow: visible;
}

.destinationText {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  font-family: "Barlow Condensed", sans-serif;
}

.destinationText li {
  font-style: normal;
  font-weight: normal;
  font-size: max(17px, 1.75vw);
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #ffffff;
  list-style: none;
}

.destinationText li::before {
  content: "01";
  font-weight: bold;
  padding-right: 10px;
  color: grey;
}

.destinationLinks {
  height: fit-content;
  width: 15%;
  position: absolute;
  top: 30%;
  left: 0%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
  
  
}

.destinationLinks li {
  width: 80px;
  height: fit-content;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  z-index: 5;
}



.destinationLinks a {
  align-items: center;
  display: flex;
  color: rgba(208, 214, 249, 1);
  font-family: "Barlow Condensed", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.5px;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 10px;
}

.destinationLinks a:hover {
  border-bottom: solid 2px grey;
}

.destinationLinks-active {
  border-bottom: solid 1px white;
}
