* {
  text-decoration: none;
  overflow: visible;
}

.destinationText {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 166.5px;
  top: 212px;
  display: flex;
  flex-direction: row;
  font-family: "Barlow Condensed", sans-serif;
}

.destinationText li {
  font-style: normal;
  font-weight: normal;
  font-size: max(17px,1.75vw);
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #ffffff;
  list-style: none;
}

.destinationText li::before {
  content: "01";
  font-weight: bold;
  padding-right: 10px;
  color: grey;
}

.destinationLinks {
  list-style: none;
  position: absolute;
  height: 50px;
  top: 30%;
  left: 60%;
  bottom: 50%;
  width: fit-content;
  display: flex;
}

.destinationLinks li {
  width: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.destinationLinks a {
  align-items: center;
  display: flex;
  color: rgba(208, 214, 249, 1);
  font-family: "Barlow Condensed", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.5px;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 10px;
}

.destinationLinks a:hover {
  border-bottom: solid 2px grey;
}

.destinationLinks-active {
  border-bottom: solid 1px white;
}

@media screen and (max-width:1180px) {
  .destinationLinks {
    top: 50%;
    left: 18%;
    transition: 0.5s ease;
  }
  .destinationLinks a {
    margin-top: 50px;
  }
  .destinationText {
    left: 2%;
  }
}
@media  screen and (max-width:660px) {
  .destinationLinks {
    top: 45%;
  }
}
